@import "tailwindcss";

@font-face {
  font-family: "Bowlby-One";
  src: local("Bowlby-One"),
    url("./assets/fonts/BowlbyOneSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bree-Serif";
  src: local("Bree-Serif"),
    url("./assets//fonts/BreeSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open-Sans";
  src: local("Open-Sans"),
    url("./assets//fonts/OpenSans-VariableFont_wdth\,wght.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets//fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "League-Spartan";
  src: local("League-Spartan"),
    url("./assets//fonts/LeagueSpartan-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  descent-override: 5%;
}

@theme {
  --font-bowlby: "Bowlby-One", sans-serif;
  --font-bree-serif: "Bree-Serif", sans-serif;
  --font-open-sans: "Open-Sans", sans-serif;
  --font-open-sans: "Roboto", sans-serif;
  --font-league-spartan: "League-Spartan", sans-serif;
}
